html {
  background-color: #ddd;
}

body {
  background-color: #fff;
}

body > section {
  padding: 10px 20px;
  min-height: 350px;
}

tr.attendeeItem {
  cursor: pointer;
}

.large {
    width: 250px;
}
