@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/OpenSans-Light.ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;

}
